---
layout: default
title: Home
---

Hi, there!

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>2022-2023</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% if post.year == 23 %}

        {% include postbox.html %}

        {% endif %}

        {% endfor %}

    </div>

    <div class="section-title">

        <h2><span>2021-2022</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% if post.year == 22 %}

        {% include postbox.html %}

        {% endif %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

